#play_game,#status{
	font-size: 20px;
}

.heading{
    width: 100%;
}

.heading h1{
    display: inline;
    float: left;
}

.heading button{
    float: right;
    border: 1px solid white;
    font-size: 18px;
}

.copy_right_footer{
    font-size: 20px;
    bottom: 0;
    position: fixed;
    text-align: center;
    line-height: 2;
    background-color: grey;
    color: whitesmoke;
    width: 100%;
    ;
}

h4{
    background-color: white;
    line-height: 2;
    margin: 0px;
}

.modal-dialog{
    width: 90%;
}

body{
    background-position: center;
    background-size: cover;
}

canvas{
    border:3px dashed white;
    border-radius: 20px;
    box-shadow: 5px 5px 5px red;
}